<div class="container">
  <%= simple_form_for @flat do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :guests %>
    <%= f.input :price %>
    <%= f.submit "Add a flat", class: "btn btn-primary" %>
  <% end %>
</div>
